<!DOCTYPE html>
<html>
  <head>
    <title>RT Chat</title>
    <%= render 'layouts/application_default' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/navbar' %>

      <% flash.each do |type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{type}") %>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
